.tasks-list{
    margin: 0;
    /* margin-top: 36px; */
    padding: 0;
    list-style: none;  
    flex: 1;  
}
ul.tasks-list li:not(:first-child){
    margin-top: 24px;
}
li{
    position: relative;
    padding: 22px 24px;
    border-radius: 12px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 2px 6px 0px #0000001A;
}