<app-header [heading]="'Dashboard'"></app-header>
<div class="main">
    <section class="banner">
        <div class="banner-section">
            <div class="banner-content">
                <div>
                    <h1>Hello, Beautiful Human!</h1>
                    <p>What do you want to do today?</p>
                </div>
                <img src="assets/young smiling woman working at laptop.png" class="banner-logo" alt="">
            </div>
        </div>
        <div class="task-stats">
            <stat-card class="flex-1" [percent]="completedTasksPercent" backgroundColor='brown' [statusType]="statuses.Completed"></stat-card>
            <stat-card class="flex-1" [percent]="activeTasksPercent" backgroundColor='orange' [statusType]="statuses.Active"></stat-card>
        </div>
    </section>

    <section class="today-tasks">
        <task-list-header heading="Today's Tasks" [showDelete]="true"></task-list-header>
        <div class="tasks-contianer">
            <div class="tasks-list">
                <task-list [tasks]="activeTasks.concat(completedTasks)" [toShowTaskDetails]="false"></task-list>
            </div>
            <div class="task-stats">
                <stat-card [percent]="completedTasksPercent" backgroundColor='brown' [statusType]="statuses.Completed"></stat-card>
                <stat-card [percent]="activeTasksPercent" backgroundColor='orange' [statusType]="statuses.Active"></stat-card>
            </div>
        </div>
    </section>
</div>