.sidebar{
    height: 100vh;
    position: sticky;
    top: 0;
}
.contents{
    margin-top: 50px;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.dropdown-container{
    display: none;
}
.logo{
    padding: 24px 0;
    text-align: center;
}
.logo>h1{
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}
.add-task{
    height: 68px;
    display: flex;
    justify-content: center;
}
.add-task button{
    width: 220px;
    background-color: white;
    padding: 0 27px;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 0px #0000001A;
    cursor: pointer;
}

button{
    border: none;
}

.signout-btn{
    padding: 16px 24px;
    border-radius: 8px;
    color: white;
    line-height: 20px;
    gap: 10px;
    cursor: pointer;
    white-space: nowrap;
}
.signout-container{
    display: none;
}
.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-task-circle{
    width: 36px;
    height: 36px;
    justify-content: center;
    border-radius: 100%;
    color: white;
    font-size: 30px;
}
.add-task-text{
    font-size: 20px;
    line-height: 25px;
}

.navigations{
    margin-top: 5vh;
}

.navigations ul{
    padding: 0;
    list-style: none;
    margin: 0;
}
ul li:not(:first-child){
    margin-top: 32px;
}
li a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px 12px;
}


.bottom-radius-0{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.selectedRoute{
    justify-content: space-between;
    border-radius: 12px;
}
.selectedRoute,.dropdown>.options{
    height: 60px;
    padding: 0 25px;
    font-size: 22px;
}
.dropdown{
    background-color: white;
    width: 100%;
    position: absolute;
    z-index: 1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 2px 4px 8px 0px #0000001A;
}
.dropdown-container{
    position: relative;
}


@media (max-width: 1400px) {
    .logo>h1{
        font-size: 28px;
    }
    .add-task button{
        width: 160px;
        padding: 0 20px;    
    }
    .contents{
        margin-top: 30px;
    }
    .add-task-circle{
        width: 28px;
        height: 28px;
        font-size: 24px;
    }

}

@media (max-width: 900px) {
    .sidebar{
        height: auto;
        position: relative;
    }
    .navigations{
        display: none;
    }
    .dropdown-container{
        display: block;
        width: 90%;
        margin: auto;
    }

    .signout-container{
        display: block;
    }
    .sidebar-header{
        padding: 12px 16px;
    }
    .contents{
        margin-top: 0;
        display: flex;
        align-items: center;
        gap: 12px;
    }
    .sidebar-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 550px) {

    .logo>h1{
        font-size: 16px;
        margin: 0;
    }
    .add-task{
        height: 32px;
    }
    .add-task button{
        width: 94px;
        padding: 0 12px;
        border-radius: 4px;
        box-shadow: 0px 0px 16px 0px #0000001A;
    }
    .add-task-text{
        font-size: 10px;
    }
    .add-task-circle{
        width: 16px;
        height: 16px;
        font-size: 14px;
    }
    .signout-btn{
        height: 26px;
        padding: 8px 10px;
        border-radius: 4px;
        font-size: 8px;
    }
    .logo{
        width: 87px;
        padding: 0;
    }
    .selectedRoute,.dropdown>.options{
        height: 25px;
        padding: 20px;
        border-radius: 6px;
        font-size: 1rem;
    } 

}