.toast {
    position: fixed;
    top: 20px;
    right: 10px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    z-index: 10;
  }
  
  .toast.success {
    background-color: green;
  }
  
  .toast.error {
    background-color: red;
  }
    
  .toast.info {
    background-color: rgb(69, 136, 218);
  }

  @media (max-Width: 550px) {
    .toast {
      padding: 10px;
      font-size: 10px;
    }
  }